@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #cd5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}

nav ul {
    font-family: sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

nav ul li a {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

nav ul li a:hover {
    color: gray;
}

body {
    background-color:beige;
}

.instagram {
    width: 22%;
}

.rs1 {
    position: absolute;
    left: 9cm;
    top: 6cm;
}

.github {
    width: 23%;
}

.rs2 {
    position: absolute;
    left: 16.5cm;
    top: 6cm;
}

.linkedin {
    width: 40%;
}

.rs3 {
    position: absolute;
    left: 24cm;
    top: 5.2cm;
}

.t1 {
    position: relative;
    top: -1cm;
    left: 1.4cm;
}

.t2 {
    position: relative;
    left: 0.2cm;
}

.t3 {
    position: relative;
    left: 0.7cm;
}
