@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: indianred;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

nav ul li a {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

nav ul li a:hover {
    color: gray;
}

body {
    background-color:beige;
}

.main {
    position: absolute;
    top: 50%;
    left: 8%;
}

h4 {
    color:  black;
    font-size: 20px;
}

h1 {
    color: indianred;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}

header img {
    width: 45%;
    position: relative;
    display: flex;
    left: 88%;
    top: -12cm;
    border-radius: 10%;
}

header.main {
    height: 100px;
}
